.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.buttonmodal{
  background: none; 
  border: 1px solid #F5C32C; 
  text-transform: uppercase; 
  padding: 8px 15px ; 
  min-width: 100px; 
  margin: 10px; 
  cursor: pointer; 
  transition: color 0.4s linear;
  position: relative;

}
.buttonmodal:hover{
  color: #fff;

}
.buttonmodal::before{
  content:''; 
  position: absolute; 
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #F5C32C;
  z-index: -1;
  transition: transform 0.5s; 
  transform-origin: 0 0;

}
.btn1:hover::before{
  transform: scaleX(1);
}
.btn1::before{
  transform: scaleX(0);
}

.btn2:hover::before{
  transform: scaleX(1);
}
.btn2::before{
  transform: scaleY(0);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F4F3EE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  font-size: 55px;
  color: green;
  font-weight: bolder;
  margin-top: 45px;
}

.App-link2 {
  font-size: 35px;
  color: #343434;
  font-weight: bolder;
  margin-top: 10px;
}
.img{
  border-radius: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}