@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Hind Siliguri', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.cs-border-shadow {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.homecatagory::-webkit-scrollbar {
  background-color: transparent;

}

.cs-round {
  border-radius: 11px 11px 0px 0px;
}

.cs-card-shadow {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.csm-shadow:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.in-bord {
  border: 1px solid #E0CFCF;

}

.in-bord:focus {
  outline: none;
}

.moduleInput {
  width: 100%;
  height: 40px;
  margin: 6px 0px;
  border-radius: 8px;
  padding-left: 5px;

}